@include mediaMd {
  body {
    .navbar {
      align-content: center;
      .links {
        font-size: 0.9rem;
        .nav-links {
          margin-right: 1rem;
        }
      }
    }
    .page {
      .inner-box {
        width: 30%;
        .box-title {
          font-size: 1.3rem;
          margin-bottom: 1.5rem;
        }
        .box-text {
          font-size: 0.9rem;
        }
      }
      &-landing {
        .box-image {
          left: 40%;
          width: 70%;
        }
      }
      &-grid {
        .inner-box {
          width: 90%;
        }
      }
    }
  }
}

@include mediaAra {
  body {
    .navbar {
      grid-template-areas: "logo  links";
      grid-template-columns: 70% 20%;
      .links {
        .nav-links {
          display: none;
        }
        .menu-link {
          cursor: pointer;
          position: relative;
          left: 60%;
          display: block;
        }
      }
    }
    .page {
      .inner-box {
        width: 40%;
        .box-title {
          font-size: 1.3rem;
          margin-bottom: 1.5rem;
        }

        .action-buttons {
          top: 90%;
          .action-button {
            height: 3rem;
          }
        }
      }
      &-landing {
        .box-image {
          left: 50%;
        }
      }
      &-grid {
        .inner-box {
          width: 90%;
        }
      }
    }
  }
}

@include mediaSm {
  body {
    .navbar {
      height: 9vh;
      .logo {
        position: relative;
        left: 2.5%;
        top: 0.3rem;
        img {
          height: 8.5vh;
        }
      }
      .links {
        .menu-link {
          left: 60%;
          top: 0.2rem;
          color: $primary-color;
          font-weight: bolder;
          font-size: 1.1rem;
        }
      }
    }

    .div-title {
      top: 15vh;
      margin-bottom: 20vh;
    }
    .page {
      width: 90%;
      left: 0;
      .inner-box {
        left: 0%;
        top: 50%;
        height: 65%;
        width: 100%;
        .box-title {
          text-align: center;
        }
        .box-text {
          line-height: 1.3rem;
        }
        .action-buttons {
          position: relative;
          top: 0%;
          left: -3%;
          width: 100%;
          .action-button {
            width: 100%;
            height: 3.5rem;
          }
        }
      }
      &-photo {
        .box-image {
          left: 2.5%;
          width: 105%;
          height: 40%;
        }
        .inner-box {
          top: 42.5%;
        }
      }
      &-landing {
        width: 90%;

        .box-image {
          position: relative;
          top: 0;
          left: 5%;
          height: 50%;
          width: 102%;
        }
        .action-button {
          position: relative;
        }
      }
      &-grid {
        left: 2.5%;
        top: 0;
        margin-bottom: 1rem;
        grid-auto-rows: 30%;
        grid-template-columns: 50% 50%;
        grid-gap: 5%;
        .inner-box {
          top: 0;
          left: 0;
          padding: 0;
          height: auto;
          .hizmet-title {
            text-align: center;
            font-weight: 600;
          }
          .box-text {
            display: none;
          }
          img {
            height: 80%;
          }
        }
      }

      #kadromuz {
        height: 10vh;
        grid-auto-rows: 110%;
      }
    }

    #hizmetlerimiz {
      margin-top: 0rem;
      width: 98%;
      height: auto;
      left: 0;
      top: 0%;
      background: #fbf9f9;
      mix-blend-mode: normal;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      .hizmet-grid1,
      .hizmet-grid2 {
        border: none;
        width: 100%;
        background: none;
        box-shadow: 0px 0px 0px 0px;
        grid-template-areas:
          "image"
          "text";
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        height: auto;
        &.main {
          grid-template-rows: 30% 70%;
          height: auto;
          h2 {
            font-size: 2rem;
            margin-bottom: 3rem;
          }
          .hizmet-text {
            align-self: unset;
            margin-top: -2rem;
          }
        }
        img {
          height: auto;
          grid-area: image;
          border-radius: 10px 10px 0 0;
        }
        .hizmet-text {
          align-self: unset;
          position: relative;
          top: 0%;
          text-align: justify;
          h3 {
            text-align: center;
            margin-bottom: -10px;
          }
          padding-bottom: 2rem;
        }
      }
    }

    #kadromuz {
      margin-top: 15rem;
      width: 98%;
      left: 0;
      top: 0%;
      height: auto;
      background: #fbf9f9;
      mix-blend-mode: normal;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      .hizmet-grid1,
      .hizmet-grid2 {
        border: none;
        width: 100%;
        background: none;
        box-shadow: 0 0 0 0;
        grid-template-areas:
          "image"
          "text";
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        height: auto;
        &.main {
          grid-template-rows: 30% 70%;
          height: auto;
          h2 {
            font-size: 2rem;
            margin-bottom: 3rem;
          }
          .hizmet-text {
            align-self: unset;
            margin-top: -2rem;
          }
        }
        img {
          height: auto;
          grid-area: image;
          border-radius: 10px 10px 0 0;
        }
        .hizmet-text {
          align-self: unset;
          position: relative;
          top: 0;
          text-align: justify;
          h3 {
            text-align: center;
            margin-bottom: -10px;
          }
          padding-bottom: 2rem;
        }
      }
    }

    .footer {
      display: none;
    }
  }
}

@include landScape {
  body {
    .navbar {
      .links {
        .nav-links {
          display: none;
        }
        .menu-link {
          left: 95%;
          display: inline-block;
        }
      }
    }
    .mobile-menu {
      height: 60vh;
      width: 30%;
      left: 70%;
      .mobile-links {
        text-align: right;
        .m-link {
          left: -7.5%;
          font-size: 0.9rem;
          height: 25px;
          margin-bottom: 10px;
        }
      }
    }
    .div-title {
      top: 15vh;
      margin-bottom: 20vh;
    }
    .page {
      width: 90%;
      left: 0;
      .inner-box {
        left: 0;
        top: 60%;
        height: 60%;
        width: 100%;
        .box-title {
          text-align: center;
        }
        .box-text {
          line-height: 1.3rem;
        }
        .action-buttons {
          position: relative;
          top: 5%;
          .action-button {
            height: 3rem;
          }
        }
      }
      &-photo {
        width: 90%;
        margin-bottom: 12.5rem;
        .box-image {
          position: relative;
          left: 2.5%;
          height: 55%;
          width: 102%;
        }
      }
      &-grid {
        left: 2.5%;
        top: 0;
        margin-bottom: 1rem;
        grid-auto-rows: 30%;
        grid-template-columns: 50% 50%;
        grid-gap: 5%;
        .inner-box {
          top: 0;
          left: 0;
          padding: 0;
          height: auto;
          .hizmet-title {
            text-align: center;
            font-weight: 600;
          }
          .box-text {
            display: none;
          }
          img {
            height: 80%;
          }
        }
      }
      #kadromuz {
        height: 20vh;
        grid-auto-rows: 40%;
      }
    }

    .footer {
      display: none;
    }
  }
}
